<ul class="list-reset my2">
    <li class="h3 inline-block mr1"><a href="/">Home</a></li>
    <li class="h3 inline-block mr1"><a href="/cranes.html">Cranes</a></li>
    <li class="h3 inline-block mr1"><a href="/scheduler.html">Scheduler</a></li>
    <li class="h3 inline-block mr1"><a href="#">Lift Planner</a>
</ul>
